body {
	background-color: #232323;
	margin: 0;
}

#pallet {
	margin: 10px auto;
	max-width: 900px;
}

.box {
	width: 15%;
	padding-bottom: 15%;
	float: left;
	margin: 1.2%;
}

.mainBox {
	width: 17%;
	padding-bottom: 220px;
	position: relative;
  	left: 470px;
	margin: 15px;
}

h1 {
	margin: 0;
	padding: 20px 0;
	background-color: white;
}

#message {
	display: inline-block;
	margin: 10px;
	border: 3px solid purple;
	position: relative;
	right: 50px;
}

#stripe {
	background: white;
	height: 20px;
	text-align: center;
}
